.top{
    width: 100%;
    min-width: 1000px;
    background-image: url("img/back.jpg");
    background-repeat: no-repeat;
}

.personInfo-container{
    width: 800px;
    height: 200px;
    overflow: auto;
    margin: 0 auto;
    background-color: #00FF00;
}

#personInfo{
    float:left;
    width: 400px;
    height:190px;
    float: left;
    padding: 30px;
    background-color: #aadffd;
}

#profile-container{
    width: 150px;
    height: 180px;
    float: right;
    margin: 10px;
    background-color: #BBBBBB;

}

#summary-container{
    width: 780px;
    height:300px;
    overflow-y: scroll;
    padding: 10px;
    margin: 0 auto;
    background-color: red;
}

#review-container{
    width: 780px;
    height:300px;
    overflow-y: scroll;
    padding: 10px;
    margin: 0 auto;
    background-color: #BBBBBB;
}