
.filter{
	text-align: center;
	width: 900px;
	height: 50px;
	line-height: 50px;
	margin: 0 auto;
	background-color: #aadffd;
}

.filter-box{
	width: 50px;
}

.displayer{
	width: 900px;
	height: 600px;
	/*background-color: #00FF00;*/
	overflow: auto;
	margin: 0 auto;
	padding-bottom: 30px;
}

#displayer-shop-list{
	width: 300px;
	height: 600px;
	float: left;
	overflow-y: scroll;
	/*background-color: white;*/
}

#displayer-map{
	width: 600px;
	height: 600px;
	float: right;
	background-color: #333333;
}

.seller-div{
	/*background: -webkit-gradient(linear, left top, left bottom, from(#ebeff2), to(#ccd5df));*/
	/*background: -moz-linear-gradient(top, #ebeff2, #ccd5df);*/
	filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ebeff2, endColorstr=#ccd5df)";
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ebeff2, endColorstr=#ccd5df)";

	border: 1px solid #ACBECF;
	cursor: pointer;

	width: 280px;
	height: 50px;
	-moz-border-radius: 10.5em;
	border-radius: 0.5em;

	background-color: white;
	margin: 5px auto;
	font-size: 13px;
	padding: 5px;
}

.seller-div:hover{
	-o-box-shadow: 2px 2px 19px #CCC;
	-webkit-box-shadow: 2px 2px 19px #CCC;
	-moz-box-shadow: 2px 2px 19px #CCC;
}

.seller-div:active{
	-o-box-shadow: 2px 2px 19px #FFCC00;
	-webkit-box-shadow: 2px 2px 19px #FFCC00;
	-moz-box-shadow: 2px 2px 19px #FFCC00;
}

.info-windows {
	width: 180px;
	height: 200px;
	overflow: auto;
	/*background-color: #00FF00;*/
}

.seller-profile {
	width: 80px;
	height: 100px;
	background-color: #999999;
	float: left;
}

.info-windows-price {
	width: 60px;
	height: 60px;
	float: right;
	font-size: 25px;
	color: #3A8DB0;
	font-weight: bold;
	padding: 20px 20px;
	overflow-x: scroll;
	/*background-color: #3A0DB0;*/
}

.info-windows-services {
	width: 180px;
	height: 50px;
	float: left;
	overflow-y: scroll;
	/*background-color: red;*/
}

.info-windows-addr {
	width: 180px;
	height: 20px;
	float: left;
	/*background-color: red;*/
}

.info-windows-button{
	background-color: skyblue;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:10px;
	padding:3px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
	outline: none;
}

.level-icon {
	height: 20px;
	width: 100px;
	margin: 5px;
}


